
/* Define variables? */
:host {
    --theme-color: #8a2e44; /* Define the theme color within the shadow DOM */
}

.dial input{
    display: none;
    /* Hiding the default range input  */
}
.dial-container{
    position: relative;
    min-height: 100px;
    background: #baff41;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    border-radius: 5px;
    overflow: hidden;
}

.dial {
    position: absolute;
    display: inline-flex;
}


.dial__value{
    line-height: 15px;
}
.dial__value, .dial__lens{
    width: 50px;
    height: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 1;
}
.dial__value .userVote, .dial__lens{  
    cursor: grab;
}
.dial__lens{
    background: var(--theme-color); /* Use the theme color */
    position: absolute;
}

.dial__value:active {
    cursor: grabbing; /* Cursor when grabbing */
}

.dial-container:active {
    cursor: grabbing; /* Cursor when grabbing */
}

.dial__label{
    align-self:flex-end;
    text-align: center;
}

.shadow {
    box-shadow: inset 0 0 16px #61440e;
}

.userVote{
    color: white
}
